:root {
    --borde-activo: #e2796e;
    --hover-botones: #e4958c;
    --borde-no-activo: #383838;
}


* {
    box-sizing: border-box;
}

body {
    /* color de fondo */
    background-color: #716e6e;
    font-family: 'Muli', sans-serif;
    /* centrar el unico contenedor del body*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* tamaño del body de todo el alto del dispositivo */
    height: 100vh;
    /* si se sale algo del body, que se oculte */
    overflow: hidden;
    /* quitar los margenes por defecto */
    margin: 0;
  }

  .container {
    text-align: center;
  }

  .cont-progreso {
    /* Poner contenedor en flex en row, nowrap y separados */
    display: flex;
    justify-content: space-between;
    /* cntenedor relativo */
    position: relative;
    /* fondo */
    /* background-color: antiquewhite; */
    /*  un margen de abajo para separa de los botones */
    margin-bottom: 40px;
    /* que el maximo ancho sea el ancho del padre */
    max-width: 100%;
    /* el ancho */
    width: 350px;
  }
  /* BARRA DE PROGRESO VACIA*/
  .cont-progreso::before {
    /* para que ocupe espacio el pseudo elemento */
    content: '';
    /* color de inactividad*/
    background-color: var(--borde-no-activo);
    /* con referencia en su padre relativo */
    position: absolute;
    /* barra a la mitad del elemento relativo, y luego
    ajustamos subiendo la mitad del alto del elemento */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* alto y ancho de la barra */
    height: 4px;
    width: 100%;
    /* mover abajo */
    z-index: -1;
  }
/* BARRA DE PROGRESO LLENA */
  .barra-progreso {
    background-color: var(--borde-activo);
    /* centrar con respecto al relativo */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* tamaño de la barra activa */
    height: 4px;
    width: 0%;
    z-index: -1;
    /* control de la transicion de avance */
    transition: 0.4s ease;
}

.circulo {
    background-color: #1f1f1f;
    color:#e2e2e2;
    /* hacerlo redondo */
    border-radius: 50%;
    /* ajustar su tamaño */
    height: 40px;
    width: 40px;
    /* centrarlo */
    display: flex;
    align-items: center;
    justify-content: center;
    /* hacer un borde */
    border: 4px solid var(--borde-no-activo);
    transition: 0.4s ease;
  }
  /* EL CIRCULO ACTIVADO */
  .circulo.activo {
    /* el boton que esta activo se cambia de color */
    border-color: var(--borde-activo);
    transform: scale(1.5);
    transition: 1.5 ease;
  }
  .senialado{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  }

  .boton {
    background-color: var(--borde-activo);
    color: #fff;
    /* quitar el borde de los botones */
    border: 0;
    /* botones redondeados */
    border-radius: 6px;
    /* cambiar el cursor */
    cursor: pointer;
    /* cambiar la letra */
    font-family: inherit;

    padding: 8px 20px;
    margin: 5px;
    /* tamaño de funte */
    font-size: 14px;
  }
/* ESTILOS DE LOS ESTADOS DE LOS BOTONES */
  .boton:hover{
    background-color: var(--hover-botones);
  }

  .boton:active {
    transform: scale(0.88);
  }
  
  .boton:disabled {
    background-color: var(--borde-no-activo);
    cursor: not-allowed;
  }