* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #333;
  }
  .imagen{
    background-image: url('https://cdn.fansshare.com/image/wallpapers1920x1080/night-view-widescreen-full-hd-wallpaper-full-hd-wallpapers-full-hd-1492263459.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 60vw;
    height:90vh;
    box-shadow: 0px 0px 150px rgb(119, 143, 228);
    border: 3px solid white;
    filter: blur(100%);
  }
  .texto_cargando {
    color: aliceblue;
    text-shadow: 10px 10px 5px black;
    position: absolute;
    font-size: 40pt;
  }