* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #333;
  }
  .imagen{
    width: 50vw;
    filter: blur(5px);
    transition: filter 0.5s ease-out;
  }
  .imagen.carga-completa {
    filter: blur(0);
  }