:root{
    --color-primario: rgb(31, 84, 131);
    --color-1: #333;
    --color-2: #e1e1e4;
    --color-3: rgb(15, 29, 54);
}


* {
    box-sizing: border-box;
}

body{
    background-color: var(--color-3);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: var(--fondo-1);
    margin: 0;
}

.container {
    background-color: var(--color-1);
    color: var(--color-2);
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
    box-shadow: -10px 15px 15px #131212;
  }
/* desaparecer el menu */
  .circle-container {
    position: fixed;
    z-index: 2;
    top: -90px;
    left: -90px;
  }
  .circle {
    background-color: var(--color-primario);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.4s linear;
    box-shadow: 0px 0px 30px rgb(122, 174, 219);
  }
  .container.show-nav .circle {
    transform: rotate(-70deg);
  }
  .circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
  }
  .circle button:focus {
    outline: none;
  }
  .circle button#open {
    left: 60%;
  }
  .circle button#close {
    top: 60%;
    /* left: 60%; */
    transform: rotate(90deg);
    transform-origin: top left;
  }
  .container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }
nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
  }

nav ul {
    list-style-type: none;
    padding-left: 30px;
}
nav ul li {
    text-transform: uppercase; 
    color: var(--color-2);
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
  }

  nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
  }
  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }
    
  .container.show-nav {
    transform: rotate(-20deg);
  }
  .contenido{
    display: flex;
    flex-flow: column nowrap;
  }
  #noche {
    width: 300px;
    align-self:center;
    position: relative;
    top: 40px;
    right: 60px;
  }
  
 